bin/
obj/
*.user
*.suo
artifacts/*.tmp
artifacts/*.bak
artifacts/*.ttf
artifacts/*-OFL.txt
src/*.user
artifacts/self-test.log
artifacts/*.pdb
artifacts/*.exe.config
artifacts/fonts/
artifacts/install-test.log
artifacts/preview/
/debug-*.png
